---
interface Item {
  question: string;
  answer: string;
}

interface Props {
  items: Item[];
}

const { items } = Astro.props;
---

<div class="faq-list">
  {items.map((item, index) => (
    <details>
      <summary id={`faq-${index}`}>{item.question}</summary>
      <p>{item.answer}</p>
    </details>
  ))}
</div>
